.Hero{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background-image: url('../../Assets/bg1.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.TextInput{
    width: 100%;
    padding: 5px;
    background-color: #f4f4f4;
    outline: none;
    border: none;
    border: 2px solid black;
    border-radius: 5px;
}